---

---

<section>
  <div class="container">
    <img src="" alt="">
  </div>

  <div class="about">
    <h1>Hola Mundo</h1>
    <p>lorem</p>

    <div>
      <a href="">LinkedIn</a>
      <a href="">GitHub</a>
      <a href="">Correo</a>
      <a href="">Curriculum Vitae</a>
    </div>
  </div>
</section>

<style>
  section{
    /* text-align: center; */
  }
</style>
