---

---

<section id="about_me" class="flex w-4/5 mx-auto">
  <div class="me w-1/4">
    <img
      src="/Professional-Portfolio-by-Luii94/public/MF1_02830.jpg"
      alt="Foto de perfil | Luis Javier Canan Corral"
      class="w-20"
    />
  </div>

  <div class="about w-9/12">
    <h1>Hola Mundo 游깷</h1>
    <h2>Desarrollador y programador web</h2>

    <p>
      Mi nombre es <span>Luis Javier Canan Corral</span> mis amigos me conocen por <span>Luii</span> o <span>Javis</span>, mi afici칩n por la tecnolog칤a comenz칩 desde peque침o, a los 8 a침os aproximadamente, cuando desarmaba juguetes, calculadoras, relojes y casi cualquier cosa que tuviera pantalla, para intentar comprender como funcionaba.
    </p>
    <p>
      , ya con casi 5 a침os de experiencia en la reparaci칩n y mantenimiento de equipos electr칩nicos y sistemas inform치ticos.
    </p>

    <div class="social_link flex place-content-around">
      <a href="https://www.linkedin.com/in/luis-javier-canan-corral-a80449294/" target="_blank">LinkedIn</a>
      <a href="https://github.com/Luii94" target="_blank">GitHub</a>
      <span>ljcanan.1994@gmail.com</span>
      <a href="/Professional-Portfolio-by-Luii94/pages/cv.astro">Curriculum Vitae</a>
    </div>
  </div>
</section>

<style>
  #about_me {
    border: 1px solid black;
  }
</style>
