---

---

<section>
  <div class="me">
    <!-- <img src="/public/MF1_0283.jpg" alt="Foto de perfil"> -->
    <img src="/Professional-Portfolio-by-Luii94//public/MF1_0283.jpg" alt="Foto de perfil">
  </div>

  <div class="about">
    <h1>Hola Mundo</h1>
    <p>Apasionado por la tecnología, el desarrollo y la programación web, con casi 5 años de experiencia en la reparación y mantenimiento de equipos electrónicos y sistemas informáticos.</p>

    <div>
      <a href="">LinkedIn</a>
      <a href="">GitHub</a>
      <a href="">Correo</a>
      <a href="">Curriculum Vitae</a>
    </div>
  </div>
</section>

<style>
  section{
    /* text-align: center; */
  }
</style>
